.navbar-container,
.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    padding: 20px 30px;
}

.navbar-list a {
    padding-right: 20px;
    font-weight: 500;
}

.name-logo span,
.display-name span {
    font-size: large;
    font-weight: 600;
}

.searchbar-container {
    background-color: rgb(231, 229, 229);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.searchbar-input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
}